management:
  endpoints:
    web:
      exposure:
        include: '*'

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/student_management?createDatabaseIfNotExist=true
    username: root
    password: ''
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto:  validate
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
file:
  upload-dir: /src/main/resources/static

jwt:
  secret: 5J@Gp)w8Yn#s@t3F2a%Wd@Qx7*Uk4Hg!
  expirationMs: 86400000
